<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="compartir.css">
 
  <title>PREVENCRIME</title>
</head>
<body>
   <header>
      <h1>PREVENCRIME</h1>
      <nav>
         <ul>
            <li><a href="#">Sobre Nosotros</a></li>
            <li><a href="#">Servicios</a></li>
            <li><a href="#">Mas informacion</a></li>
            <li><a href="#">Salir</a></li>
         </ul>
      </nav>
   </header>
   <main>
      <p>¡Comparte nuestra información a través de cualquier medio disponible!</p>
      <a href="https://www.facebook.com/">
        <img src="facebook-icon.png" alt="Mi imagen">
      </a>
      <a href="https://www.facebook.com/">
        <img src="instagram-icon.png" alt="Mi imagen">
      </a>
      <a href="https://www.facebook.com/">
      <img src="whatsapp-icon.png" alt="Mi imagen">
      </a>
       
   </main>
   <footer>
    <p>Copyright © 2023 PREVENCRIME. Todos los derechos reservados.</p>
 </footer>
</body>
</html>