<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="normalize.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>Prevencrime</title>
</head>
<body>
    <nav id="navbar" class="fixed backdrop-blur-xl text-xl bg-red-800 top-0 left-0 right-0 h-26 flex items-center justify-between p-5">
    </nav>
    <main>
        <section class="content pt-20">
            <div class="section">
                <h2>Realizar Consultas</h2>
                <p>Consulta predicciones de índices de robos a futuro.</p>
                <a href="/realizar-consultas/" class="button">Realizar Consultas</a>
            </div>
            <div class="section">
                <h2>Revisión de Recomendaciones</h2>
                <p>Mantente seguro mediante la revisión de material el cual te ayudará a evitar robos y hurtos.</p>
                <a href="/Recomendaciones/" class="button">Realizar Consultas</a>
            </div>
            <div class="section">
                <h2>Registrar Denuncia</h2>
                <p>Ayúdanos a mantener segura la comunidad de nuestros distritos. Registra una denuncia de manera rápida y sencilla.</p>
                <a href="/RegisterDE/" class="button">Registrar Denuncia</a>
            </div>
            <div class="section">
                <h2>Sobre Nosotros</h2>
                <p>...</p>
                <a href="/SobreNosotros/" class="button">Realizar Consultas</a>
            </div>
        </section>
    </main>
    <footer>
    </footer> 
    <script src="/Components/nav.js"></script>
</body>
</html>

